* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}

header {
  background-color: #a8ca29;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo img {
  width: 115px;
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
  color: #e52e57;
}

.header-right ul {
  list-style-type: none;
}

.header-right ul li {
  display: inline;
  margin-left: 20px;
}

.header-right ul li a {
  text-decoration: none;
  color: #fff;
}

.header-right ul li a:hover {
  text-decoration: none;
  color: #e52e57;
}

/* Search Box Styles */
.search-box {
  text-align: center;
  margin-top: 20px;
}

/* Toy Catalog Styles */
.toy-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.toy-card {
  width: calc(25% - 40px);; 
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box; 
  transition: transform 0.3s ease;
}

.toy-card:hover {
  transform: scale(1.1); 
}

.toy-card img {
  max-width: 100%;
  border-radius: 5px;
  max-height: 250px;
}

.toy-card h2 {
  margin-top: 30px;
  color: #a8ca29;
}

.toy-details-container {
  display: flex;
  align-items: flex-start;
}

.toy-image {
  flex: 1;
}

.toy-image img {
  max-width: 100%;
  height: auto;
}

.toy-details {
  flex: 2;
  padding-left: 20px;
}

.toy-details p {
  margin-bottom: 10px;
  font-family: sans-serif;
  color: darkgrey;
}

.order-lookup-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #a8ca29;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #097969;
}

.order-lookup-container {
  max-width: 600px;
  margin: 0 auto;
}

.order-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-details h2 {
  margin-bottom: 10px;
  text-align: center;
}

.order-details p {
  margin-bottom: 5px;
  font-family: sans-serif;
  color: darkgrey;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  color: darkgrey;
  text-align: justify;
}
