php_value  default_charset    "UTF-8"
php_flag   display_errors      on
php_flag   log_errors          on
php_value  error_reporting     -1
php_value  upload_max_filesize 32M
php_value  post_max_size       32M
php_value  max_execution_time  30
php_value  memory_limit        128M
php_value  date.timezone       "America/New_York"
